.a {
  color: white;
}
html,
body {
  width: 100%;
  background-color: #000000;;
}

body {
  transition: 2s ease;
}

#comp-grid {
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-gap: 0.2rem;
}

.header {
  text-align: center;
  padding: 4rem;
}

.title {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.comp-filter-dept {
  z-index: 3;
  position: absolute;
  left: 100px;
}

.comp-filter-type {
  z-index: 3;
  position: absolute;
  right: 100px;
}



@media screen and (max-width: 600px) {
  #comp-grid {
    grid-template-columns: auto;
    padding: 0rem;
    grid-gap: 0rem;
  }
  .title {
    font-size: 2.5rem;
  }
}
