@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	overflow-x: hidden;
	background-color: rgba(30,30,30,1);
	max-width: 100vw;
}

.header {
    text-align: center;
    padding: 4rem;
}

.title {
    color: aliceblue;
    font-family: 'Lemon Milk';
    font-size: 3rem;
    font-weight: 700;
}

.white-bg {
	position: fixed;
	top: -10vh;
	z-index: 0;
	bottom: 0;
	width: 100%;
	background-color: ghostwhite;
}

h1{
	position: relative;
}
.container{
	display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 5vw;
    grid-column-gap: 5px;
    z-index: 2;
    margin: 10vh 10vw;
    justify-items: center;
}

@media screen and (max-width:1400px){
	.container{
		grid-template-columns: auto auto auto;
		margin: 0vh 12.5vw;
		margin-bottom: 5vh;
	}
}
@media screen and (max-width:1100px){
	.container{
		grid-template-columns: auto auto;
		margin: 0vh 15vw;
	}
	.title {
	font-size: 2.5rem;
}
}

/*ipad potrait*/
@media screen and (max-width:800px) and (max-height: 1200px ){
	.container{
		grid-template-columns: auto auto;
		margin: 0vh 9vw;
	}
}

@media screen and (max-width:450px){
	.container{
		grid-template-columns: auto;
		margin: 0vh 11vw;
	}
}