@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	overflow-x: hidden;
}

.header {
    text-align: center;
    padding: 4rem;
}

.title {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.white-bg {
	position: fixed;
	top: -10vh;
	z-index: 0;
	bottom: 0;
	width: 100%;
	background-color: ghostwhite;
}

h1{
	position: relative;
}
.container{
	margin: 0vh 7.5vw;
	position: absolute;
	display:grid;
	grid-template-columns: auto auto auto auto ;
	grid-row-gap: 5vw;
	grid-column-gap: 15px;
	z-index: 2;
	margin-bottom: 10vh;
}

@media screen and (max-width:1300px){
	.container{
		grid-template-columns: auto auto auto;
		margin: 0vh 7.5vw;
	}
}
@media screen and (max-width:600px){
	.container{
		grid-template-columns: auto auto;
		margin: 0vh 8.5vw;
	}
	.title {
	font-size: 2.5rem;
}
}

@media screen and (max-width:450px){
	.container{
		grid-template-columns: auto;
		margin: 0vh 11vw;
	}
}