

	.colorwhite
	{
		color: white;
		text-align: center;
		padding-top: 10vh;
		padding-bottom: 10vh;
		padding-left: 55vh;
		align-content: center;
	}

	#event-grid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-row-gap: 2vw;
		margin-top: -5vh;
		margin-left: 24vh;
		margin-right: 0vh;
	}
	.hrline{
		margin-top:5vw;
		border: 1px solid orange;
		margin-left: 20vw;
		margin-right: 20vw;
	}
	.test-container {
		padding-top: 5vw;
		text-align: center;
		padding-bottom: 10vw;
	}
	.line{
		width: 112px;
    	height: 47px;
    	border-bottom: 1px solid white;
    	position: absolute;
	}
	.color-white {
		color: white;
	}
	.color-white-image{
		width: 17%;
	}

	.color-white-sayhello {
		color: white;
		font-size: 3vw;
	}
	.color-white-dialogue{
		color: gray;
	}


	.people {
		text-decoration: none;
		margin: auto;
		margin-bottom: 5vh;
	}

	.contacts {
		color: white;
		width: 100%;
		height: 100vh;
		overflow: auto;
		background: black;
	}


/* mobile devices */




@media screen and (min-width:0px) and (max-width:480px){
	#event-grid{
		grid-template-columns: auto;
		margin: 0vh 0vw;
	}

	.title{
		font-size: 25px;
	}
}

@media screen  and  (min-width:480px) and (max-width:700px){
	#event-grid{
		grid-template-columns: auto auto;
		margin: 0vh 8vw;
		grid-gap: 1.7vw;
	}
}

@media screen and  (min-width:700px) and (max-width:1300px){
	#event-grid{
		grid-template-columns: auto auto auto;
		margin: 0vh 8vw;

		grid-gap: 1.7vw;
	}
}
