body{
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 0px;
}

.card{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
}

@keyframes rotate{
  0%{stroke-dashoffset:5000; stroke-dasharray:1000;}
  100%{stroke-dashoffset:1000; stroke-dasharray:600;}
}

.circle{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  animation:rotate 40s ease-out infinite;
}
#c2{
  transform: translateZ(500px);

}
#c1{
  transform: translateZ(500px);
  animation-direction: reverse;
}
#c3{
  transform: translateZ(500px);
}
#c4{
  transform: translateZ(500px);
  animation-direction: reverse;
}
#c5{
  transform: translateZ(500px);
}
#c6{
  transform: translateZ(500px);
  animation-direction: reverse;
}

#h1{
  padding-left:2vw;
  padding-top:20vh;
  font-family:Montserrat;
  font-size:4vh;
  color:white;
}
.sponsor{
  width:150px;
  height:150px;
  color:white;
  margin:10vh;
  margin-bottom:10vh;
  border-radius: 100%;
  background-color:white;

}

#logo{
  z-index:100 ;
}

#grid{
  left:0;
  right:0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding-bottom:10vh;
}

.t1{
  font-family:Montserrat;
  font-size:3vh;
  margin-top:200px;
  text-align:center;
}

