body{
  overflow-y: scroll;
  overflow-x: hidden;
  transform-style: preserve-3d;
} 

.card{
  perspective:1000px;
  position: relative;
  height:100vh;
  width:100vw;
  transform-style: preserve-3d;
  transform-style: ease-out;
  transition-duration: 0.5s;
  transform-style: ease-out;
}

@keyframes color{
  0%,100%{border-color:white;}
  20%,80%{border-color:gold;}
  50%{border-color:orange;}
}

.circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:100%;
  border: 5px solid white;
  animation: color 5s linear infinite ;
  color:white;
}

.text{
  font-family:Montserrat;
  font-size:3vh;
  color:gold;
  transform:translateZ(-270px);
}
#t1{
    transform:translateZ(-270px);
}
#t2{
    transform:translateZ(-570px);
}
#t3{
    text-align:right;
    transform:translateZ(-1000px);
    opacity:0.7;
}
#t4{
    text-align:right;
    transform:translateY(30vh) translateZ(-570px);
}

#c1{
  animation-delay:1s;
  transform:translateX(-50%) translateY(-50%) translateZ(-200px);
  width:10vh;
  height:10vh; 
}
#c2{
  animation-delay:2s;
  transform:translateX(-50%) translateY(-50%) translateZ(100px);
  width:20vh;
  height:20vh; 
}
#c2a{
  opacity:0.5;
  transform:translateX(-50%) translateY(-50%) translateZ(-100px);
  width:40vh;
  height:40vh; 
}
#c3{
  transform:translateX(-50%) translateY(-50%) translateZ(-200px);
  width:70vh;
  height:70vh; 
  opacity:0.4;
  border-width: 20px;
  border-style:dashed;
}
#c4{
  transform:translateX(-50%) translateY(-50%) translateZ(-220px);
  width:80vh;
  height:80vh; 
  opacity:0.4;
  border-width: 20px;
  animation-delay:8s;
}
#c5{
  transform:translateX(-50%) translateY(-50%) translateZ(-500px);
  width:135vh;
  height:135vh; 
  box-shadow: 0px 0px 40px 10px white;
}
#c6{
  transform:translateX(-50%) translateY(-50%) translateZ(-500px);
  width:150vh;
  height:150vh; 
  border-width:10px;
  border-style:dotted;
}
#c7{
  transform:translateX(-50%) translateY(-50%) translateZ(-2000px);
  opacity:0.2;
  width:150vh;
  height:150vh; 
  border-width:50px;
}
#c8{
  transform:translateX(-50%) translateY(-50%) translateZ(-2500px);
  opacity:0.2;
  width:100vh;
  height:100vh; 
  border-width:50px;
}


#h1{
  position:relative;
  padding-left:2vw;
  padding-top:20vh;
  font-family:Montserrat;
  font-size:4vh;
  color:white;
}
#h2{
  position:relative;
  font-family:Montserrat;
  font-size:4vh;
  color:white;
  text-align: right;
  padding:2vh;
  padding-bottom:20vh;
}
#h3{
  position:relative;
  padding-left:2vw;
  font-family:Montserrat;
  font-size:4vh;
  color:white;
}

.sponsor{
  width:150px;
  height:150px;
  color:white;
  margin:10vh;
  border-radius: 100%;
  background-color:white;
}

#grid{
  position:relative;
  left:0;
  right:0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding-bottom:10vh;
}

.t1{
  font-family:Montserrat;
  font-size:3vh;
  margin-top:200px;
  text-align:center;
}

#logo{
  z-index:1000;
  transform: 
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(-200px) scale(0.2);
}