body{
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 0px;
}

.card{
  left:0;
  right:0;
  margin:auto;
  transform-style: preserve-3d;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

@keyframes rotate{
  0%{stroke-dashoffset:2000; stroke-dasharray:1000;}
  100%{stroke-dashoffset:0; stroke-dasharray:600;}
}

.circle{
  left:0;
  right:0;
  margin:auto;
  position:absolute;
  animation:rotate 20s ease-out infinite;
}



#c1{
  transform: translateZ(0px);
}
#c1fb{
  transform: translateZ(500px);
}
#c1ff{
  transform: translateZ(500px);
}
#c1fbl{
  transform: translateZ(300px);
}
#c1ffl{
  transform: translateZ(300px);
}
#c1bf{
  transform: translateZ(-300px);
}
#c1bb{
  transform: translateZ(-300px);
}
#c2{
  transform: translateZ(-600px);
}
#c2b{
  transform: translateZ(-600px);
}
#c2o{
  transform: translateZ(-600px);
}
#c3{
  transform: translateZ(-1600px);
}    

@media only screen and (max-width: 600px) {
  .card{
    left:0;
    right:0;
    margin:auto;
    transform-style: preserve-3d;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transform:scale(0.5);
  }
}

#logo{
  z-index:100;
}

#h1{
  padding-left:2vw;
  padding-top:10vh;
  font-family:Montserrat;
  font-size:3vw;
  color:white;
}
#h2{
  width:100%;
  padding-top:80vh;
  text-align: right;
  position:absolute;
  font-family:Montserrat;
  font-size:2vw;
  color:white; 
}
.sponsor{
  width:150px;
  height:150px;
  color:white;
  margin:10vh;
  border-radius: 100%;
  background-color:white;
}

#grid{
  left:0;
  right:0;
  margin-left:12.5%;
  display: flex;
  flex-wrap:wrap;
}

.t1{
  font-family:Montserrat;
  font-size:3vh;
  margin-top:200px;
  text-align:center;
}

