::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: orange; 
}
html,body{
  overflow-y: auto;
  overflow-x: hidden;
} 
#parent{
  overflow-X: hidden;
}
.title{
  z-index:3;
  position:relative; 
  font-family: montserrat;
  letter-spacing: 3px;
  font-size:4vh;
  color:white;
  margin-left:2vw;
}

#h1{
  margin-top:20vh;
}
#h4{
  margin-top:20vh;
}

.sponsor{
  width:150px;
  height:150px;
  color:white;
  margin:7vh;
  border-radius: 100%;
  background-color:white;
}

#grid{
  position:relative;
  left:0;
  right:0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding-bottom:1vh;
  margin-top:10vh;
}

.t1{
  font-family:Montserrat;
  font-size:3vh;
  margin-top:160px;
  text-align:center;
}

#grid2{
  position:relative;
  left:0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding-bottom:1vh;
}
#legacy{
  width:96%;
  color:white;
  font-family:montserrat;
  font-size:2.4vh;
  margin-top:10vh;
  padding:4vh;
  line-height: 40px;
  letter-spacing: 2px;
  padding-right:10px;
  text-align:justify;
  text-justify: inter-character;
}
.excel{
  width:600px;
  height:600px;
  background-image:url('logo.png');
  transform:scale(0.5);
}
.mec{
  width:600px;
  height:600px;
  background-image:url('mec.png');
  transform:scale(0.7);
}
#title{
  filter:blur(5px);
  margin-top:400px;
  color:rgba(255,255,255,0.1);
  font-size:200px;
  font-family:montserrat;
  text-align: center;
  transform:scale(2);
}


#space_after{
  width:1000px;
  height:1100px;
}

#all{
  margin-top:0vh;
  position: absolute;
  width:1000px;
  height:1200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.7);
} 
#all *{
  position:absolute;
}


.caption{
  width:1000px;
  text-align:center;
  margin:1100px 0px;
  font-family:montserrat;
  font-size:40px; 
  color:rgba(255,255,255,1);
  letter-spacing: 4px;
}
@keyframes t1{
  13%,100%{opacity:0;}
  0%,12%{opacity:1;}
}
#t1{animation: t1 25s linear infinite;}

@keyframes t2{
  0%,11%,33%,100%{opacity:0;}
  12%,32%{opacity:1;}
}
#t2{animation: t2 25s linear infinite;}

@keyframes t3{
  0%,31%,45%,100%{opacity:0;}
  32%,44%{opacity:1;}
}
#t3{animation: t3 25s linear infinite;}

@keyframes t4{
  0%,43%,63%,100%{opacity:0;}
  44%,62%{opacity:1;}
}
#t4{animation: t4 25s linear infinite;}

@keyframes t5{
  0%,61%,81%,100%{opacity:0;}
  62%,80%{opacity:1;}
}
#t5{animation: t5 25s linear infinite;}

@keyframes t6{
  0%,79%{opacity:0;}
  80%,100%{opacity:1;}
}
#t6{animation: t6 25s linear infinite;}

#scroll{
  position:absolute;
  margin-left:820px;
  margin-top:345px;
  width:70px;
  height:70px;
  background-color:black;
  border-radius:100%;
  border:orange 10px solid;
}
@keyframes rotate{
  0%{transform:rotateZ(0deg);}
  100%{transform:rotateZ(-360deg);}
}

#scroll_circle{
  margin-left:115px;
  margin-top:115px;
  height:770px;
  width:770px;
  animation:rotate 12.5s linear infinite;
}
@keyframes scroll_svg{
  0%{stroke-dashoffset:0;}
  100%{stroke-dashoffset:6200;}
}
#scroll_svg{
  animation:scroll_svg 25s linear infinite;
}
@keyframes array{
  0%{stroke-dashoffset:0;}
  100%{stroke-dashoffset:2000;}
}
#array{
  animation:array 10s linear infinite;
  animation-direction: reverse;
}


@keyframes logo{
  62%{stroke-dashoffset:2300;}
  80%{stroke-dashoffset:4600;}
  0%,61%{opacity:0;}
  62%,80%{opacity:1;}
  81%,100%{opacity:0;}
}
#logo{
  margin-left:200px;
  margin-top:200px;
  animation:logo 25s linear infinite;
}
#construction{
  perspective: 500px;
  transform-style: preserve-3d;
  width:1000px;
  height:1000px;
  border-radius:100%;
  overflow: hidden;
}
#golden_ratio{
  position:absolute;
}
@keyframes golden{
  0%,61%,81%,100%{stroke:rgba(255,255,255,0);}
  62%,80%{stroke:rgba(255,255,255,0.3);}
}
.golden{animation:golden 25s linear infinite;}

@keyframes jump{
  0%,43%,63%,100%{opacity:0;}
  44%,62%{opacity:1;}
}
#jump{  
  width:600px;
  height:600px;
  margin:200px 200px;
  background-image:url('c.png');
  transform: scale(1.1);
  transform-style: preserve-3d;
  animation:jump 25s linear infinite;
}
@keyframes color{
  0%,79%,100%{opacity:0;}
  80%, 99%{opacity:1;}
}
#color{
  z-index:2;
  width:600px;
  height:600px;
  margin:200px 200px;
  background-image:url('logo.png');
  transform: scale(1);
  animation:color 25s linear infinite;
}

@keyframes code{
  0%,12%{opacity:1;}
  13%,100%{opacity:0;}
}

#code{
  margin:125px 125px;
  width:750px;
  height:750px;
  border-radius:100%;
  background-color:black;
  animation:code 25s linear infinite;
}
.code_text{
  height:70px;
  position:absolute;
  overflow-y: hidden;
  color:white;
  overflow-x:hidden;
  font-size:70px;
  font-family:Courier;
  letter-spacing: 10px;
}
#helloworld{
  margin:340px 40px; 
  animation:helloworld 2.5s linear infinite ;
  color:#43afff;
}
#rest1{
  margin:250px 40px;
}
#rest2{
  margin:450px 500px;
}

@keyframes maze{
  0%,31%,45%,100%{opacity:0;}
  32%,44%{opacity:1;}
}

#maze{
  opacity:0;
  perspective:1000px;
  overflow: hidden;
  z-index:2;
  margin:175px 175px;
  width:650px;
  height:650px;
  border-radius:100%;
  transform-style: preserve-3d;
  background-color:black;
  animation:maze 25s linear infinite;
}
@keyframes zoom{
  0%{stroke-dashoffset:0;}
  100%{stroke-dashoffset:2000;}
}
#c2
{
  transform-style: preserve-3d;
  animation:zoom 3s linear infinite;
}
.pilot{
  transform-style: preserve-3d;
  margin:300px 300px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #42beda;
  animation:p2p3 5s linear infinite;
  animation-delay:3s;
}
@keyframes p1{
  0%{transform:translateY(300px);}
  10%{transform:translateY(0px);}
  65%{transform:translateY(0px) rotateY(70deg);}
  80%{transform:translateY(0px) rotateY(-70deg);}
  90%,100%{transform:translateY(-500px) rotateY(-60deg);}
}
#p1{
  animation:p1 5s linear infinite;
  animation-delay:3s;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
}
@keyframes p2p3{
  0%{transform:translateY(-1500px);}
  100%{transform:translateY(1500px);}
}
#p2{
  margin:-500px 380px;
}
#p3{
  margin:300px 220px;
}
.ray{
  height:200px;
  width:10px;
  background-color: #246776;
  animation:ray 0.3s linear infinite;
}
@keyframes ray{
  0%{transform:translateY(-1000px);}
  100%{transform:translateY(1000px);}
}
#r1{margin:-800px 100px;}
#r2{margin:500px 300px;}
#r3{margin:-700px 600px;}

@keyframes race{
  0%,11.9%,32.1%,100%{opacity:0;}
  12%,32%{opacity:1;}
}
#race{
  perspective:900px;
  transform-style: preserve-3d;
  overflow:hidden;
  width:700px;
  height:700px;
  margin:150px 150px;
  border-radius:100%;
  background-color:black;
  animation:race 25s linear infinite;
}

@media only screen and (max-height: 900px) {
  #all {  
  position: absolute;
  width:1000px;
  height:1200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  }
  #space_after{
  height:1000px;
  }

}

@media only screen and (max-width: 600px) {
  #all {  
  position: absolute;
  width:1000px;
  height:1200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  }
  #space_after{
  height:700px;
  }
  #parent{
  overflow-X: hidden;
}
#legacy{
  width:88%;
}
.title{
  margin-left:5vw;
}
}