::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: orange; 
}
body{
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw;
  color:white;
  font-family: montserrat;
} 
#parent{
  overflow-x: hidden;
}
.title{
  z-index:3;  
  font-size:4vh;
  margin-left:2vw;
}
#h4{
  margin-top:20vh;
}
.sponsor{
  width:150px;
  height:150px; 
  margin:7vh;
  border-radius: 100%;
  background-color:white;
}
.grid{
  left:0;
  right:0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-top:10vh;
}
.t1{
  font-size:3vh;
  margin-top:160px;
  text-align:center;
}
.logo{
  width:600px;
  height:300px;
  transform:scale(0.5);
}
#excel_logo{
  background-image:url('excel_logo.png');
}
#mec_logo{
  background-image:url('mec_logo.png');
}
#legacy{
  width:100%;
  font-size:20px;
  padding:5vh;
}
#mec{
  width:600px;
  height:300px;
  background-image:url('mec.png');
  transform:scale(1);
}
#space_after{
  height:110vh;
}
  
#all{
  position: absolute;
  width:1000px;
  height:1200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.7);
} 
#all *{
  position:absolute;
}


.caption{
  width:1000px;
  text-align:center;
  margin:1100px 0px;
  font-size:40px; 
}
@keyframes t1{
  13%,100%{opacity:0;}
  0%,12%{opacity:1;}
}
#t1{animation: t1 25s linear infinite;}

@keyframes t2{
  0%,11%,33%,100%{opacity:0;}
  12%,32%{opacity:1;}
}
#t2{animation: t2 25s linear infinite;}

@keyframes t3{
  0%,31%,45%,100%{opacity:0;}
  32%,44%{opacity:1;}
}
#t3{animation: t3 25s linear infinite;}

@keyframes t4{
  0%,43%,63%,100%{opacity:0;}
  44%,62%{opacity:1;}
}
#t4{animation: t4 25s linear infinite;}

@keyframes t5{
  0%,61%,81%,100%{opacity:0;}
  62%,80%{opacity:1;}
}
#t5{animation: t5 25s linear infinite;}

@keyframes t6{
  0%,79%{opacity:0;}
  80%,100%{opacity:1;}
}
#t6{animation: t6 25s linear infinite;}

#scroll{
  position:absolute;
  margin:345px 820px;
  width:70px;
  height:70px;
  background-color:rgba(30,30,30,1);
  border-radius:100%;
  border:orange 10px solid;
}
@keyframes rotate{
  0%{transform:rotateZ(0deg);}
  100%{transform:rotateZ(-360deg);}
}
#scroll_circle{
  margin:115px;
  height:770px;
  width:770px;
  animation:rotate 12.5s linear infinite;
}
@keyframes scroll_svg{
  0%{stroke-dashoffset:0;}
  100%{stroke-dashoffset:6200;}
}
#scroll_svg{
  animation:scroll_svg 25s linear infinite;
}
@keyframes array{
  0%{stroke-dashoffset:0;}
  100%{stroke-dashoffset:2000;}
}
#array{
  animation:array 10s linear infinite;
  animation-direction: reverse;
}

@keyframes logo{
  62%{stroke-dashoffset:2300;}
  80%{stroke-dashoffset:4600;}
  0%,61%, 81%, 100%{opacity:0;}
  62%,80%{opacity:1;}
}
#logo{
  margin:200px 200px;
  animation:logo 25s linear infinite;
}
#construction{
  width:1000px;
  height:1000px;
  border-radius:100%;
  overflow: hidden;
}
@keyframes jump{
  0%,43%,63%,100%{opacity:0;}
  44%,62%{opacity:1;}
}
#jump{  
  width:600px;
  height:600px;
  margin:200px;
  background-image:url('c.png');
  transform: scale(1.1);
  animation:jump 25s linear infinite;
}
@keyframes color{
  0%,79%,100%{opacity:0;}
  80%, 99%{opacity:1;}
}
#color{
  z-index:2;
  width:600px;
  height:600px;
  margin:200px;
  background-image:url('logo.png');
  animation:color 25s linear infinite;
}
@keyframes code{
  0%,12%{opacity:1;}
  13%,100%{opacity:0;}
}
#code{
  margin:125px;
  width:750px;
  height:750px;
  border-radius:100%;
  animation:code 25s linear infinite;
}
.code_text{
  height:70px;
  position:absolute;
  overflow-y: hidden;
  overflow-x:hidden;
  font-size:70px;
  font-family:Courier;
  letter-spacing: 10px;
}
#helloworld{
  margin:340px 40px; 
  animation:helloworld 2.5s linear infinite ;
  color:#43afff;
}
#rest1{
  margin:250px 40px;
}

@keyframes maze{
  0%,31%,45%,100%{opacity:0;}
  32%,44%{opacity:1;}
}
#maze{
  overflow: hidden;
  z-index:2;
  margin:175px;
  width:650px;
  height:650px;
  border-radius:100%;
  animation:maze 25s linear infinite;
}
@keyframes zoom{
  0%{stroke-dashoffset:0;}
  100%{stroke-dashoffset:2000;}
}
#c2
{
  transform-style: preserve-3d;
  animation:zoom 3s linear infinite;
}
.pilot{
  transform-style: preserve-3d;
  margin:300px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #42beda;
  animation:p2p3 5s linear infinite;
  animation-delay:3s;
}
@keyframes p1{
  0%{transform:translateY(300px);}
  10%{transform:translateY(0px);}
  65%{transform:translateY(0px) rotateY(70deg);}
  80%{transform:translateY(0px) rotateY(-70deg);}
  90%,100%{transform:translateY(-500px) rotateY(-60deg);}
}
#p1{
  animation:p1 5s linear infinite;
  animation-delay:3s;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
}
@keyframes p2p3{
  0%{transform:translateY(-1500px);}
  100%{transform:translateY(1500px);}
}
#p2{
  margin:-500px 380px;
}
#p3{
  margin:300px 220px;
}
.ray{
  height:200px;
  width:10px;
  background-color: #246776;
  animation:ray 0.3s linear infinite;
}
@keyframes ray{
  0%{transform:translateY(-1000px);}
  100%{transform:translateY(1000px);}
}
#r1{margin:-800px 100px;}
#r2{margin:500px 300px;}
#r3{margin:-700px 600px;}

@keyframes race{
  0%,11.9%,32.1%,100%{opacity:0;}
  12%,32%{opacity:1;}
}
#race{
  perspective:900px;
  transform-style: preserve-3d;
  overflow:hidden;
  width:700px;
  height:700px;
  margin:150px;
  border-radius:100%;
  animation:race 25s linear infinite;
}

@media only screen and (max-height: 900px) {
  #all {  
  transform: translate(-50%, -50%) scale(0.55);
  }
}
@media only screen and (max-width: 900px) {
  #all {  
  transform: translate(-50%, -50%) scale(0.55);
  }
#excel_logo{
  margin-top:-50px;
  }
}
@media only screen and (max-width: 600px) {
  #all {  
  transform: translate(-50%, -50%) scale(0.3);
  }
  .logo{
  transform:scale(0.4);
  }
  #legacy{
  font-size:15px;
  }
  .title{
  margin-left:5vw;
  }
  #mec{
  transform:scale(0.7);
}
}

/*new logo code*/
.logo-grid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 7.5vh;
}

.logo-grid img{
  width:15vw;
}

.legacy-grid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}

.logo-grid img{
  width:15vw;
}
.legacy-grid img{
  width:30vw;
}

@media only screen and (max-width:680px){
  .logo-grid img{
    width:40vw;
  }
  .legacy-grid{
    flex-direction: column;
    text-align: left;
    justify-content: left;
  }
  .legacy-grid img{
    width:80vw;
  }
}