.event-card {
    color: white;
    position: relative;
    margin: 0.3rem auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
}

.event-card:hover {
    background: #ffffff22;
}

.event {
    height: 6rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.event-logo {
    background-color: white;
    width: 14rem;
    height: 11rem;
    margin: 1rem auto 0rem auto;
    border-radius: 12px;
}

.event-name {
    margin-bottom: 0.1rem;
    text-align: center;
    padding: 0.5rem;
}

.event-description {
    text-align: center;
    font-size: 0.9rem;
}

.logo-container {
    text-align: center;
    padding: 1rem;
}

.logos {
    max-height: 9rem;
}

.learnmore-container {
    display: none;
}

@media screen and (max-width: 800px) {
    .event-card {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .event-card {
        width: 100vw;
        border-radius: 0px;
    }
    .event-card:hover {
        background: #ffffff00;
    }
    .learnmore-container {
        display: block;
        padding: 0vw 5vw;
    }
    .learn-more {
        color: white;
        border-radius: 4px;
        margin: 0 auto 1rem auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        background-color: #00000000;
        width: 90vw;
        padding: 1rem;
        border: 1px solid white;
    }
}

/* popup styling */

.modal {
    height: 90vh;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.close {
    text-align: right;
}