.schedule-event--container {
    transition: transform 1s;
    margin: 2em;
    /*background-color: rgb(241, 235, 233);*/
    background-color:white;
    color:rgb(51, 49, 49);
    line-height: 1.5;
    display: grid;
    grid-template-columns: 25% 40% 20%;
    grid-column-gap: 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
 
  .event-desc{
    /*width: 50%;*/
    text-align: left;
    padding-top:5px;
  }
  .event-desc>span{
    /*background: -webkit-linear-gradient(orange,orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color:black;
    font-size: 1.4em;
    font-weight: 600;
    margin: 0;
    margin-left:10%;
  }
  .event-image{
    /*width: 20%;*/
    text-align: right;
    padding-right: 20px;
    margin-bottom:10px;
  }
  .event-image img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    vertical-align: middle;

  }
  .event-date{
    text-align: center;
    margin-top: 0;
    padding-top:5px;
    /* margin-left:-5vw; */
  }

  @media (min-width: 700px){
    .event-desc{
      margin-top: 0px;
    }
    .event-detail{
      font-size: 1.2em;
      margin: auto;
      margin-left:10%;
      display: flex;
      flex-direction: column;
    }
    .event-date{
      font-size: large;
    }
  }

  @media (max-width: 800px){
    .event-date{
        font-size: 1.2em;
      }
      .event-desc>span{
        margin-left:0;
        font-size: 1.5em;
      }
      .event-detail{
        margin-left: 0;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
      }
  }

  @media (max-width: 700px){
  
    .event-image img{
        border-radius: 100%;
        width: 70px; 
        height: 70px;
        vertical-align: middle;
      }
      .event-image{
        padding-right: 0;
        text-align: center;
      }
      .event-desc{
        padding-top:0px;
      }
      .event-date{
        padding-top:0px;
        font-size: 1em;
        padding-left: -2vw;
      }
      .event-desc>span{
        margin-left:0;
        font-size: 1.1em;
      }
      .event-detail{
        margin-left: 0;
        font-size: 1em;
        display: flex;
        flex-direction: column;
      }
 }

 @media (max-width: 530px)
 {
  .event-date{
    font-size: 1em;
  }
  .event-desc>span{
    margin-left:0;
    font-size: 1em;
    overflow-wrap: break-word;
  }
  .event-detail{
    margin-left: 0;
    font-size: 1em;
    display: flex;
    flex-direction: column;
  }
 }
 @media (max-width: 430px){
  .event-date{
    font-size: .9em;
  }
  .event-desc>span{
    margin-left:0;
    font-size: 1em;
  }
  .event-detail{
    margin-left: 0;
    font-size: .9em;
    
  }
 }

 