@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background-color: #000000;
}

.schedule{
    background-color:black;;
    width:100%;
    height:100vh;
    padding-top:1em;
    font-family: 'Montserrat', sans-serif;
}

.schedule-container {
    margin: 30px auto;
    padding-bottom:5px;
    background-color:white;
    width: 70%;
    color:orangered; 
    /*box-shadow: 5px 5px 5px 5px rgb(24, 23, 23);*/
}

.schedule-header--container {
    width: 100%;
    margin-top:5em;
    background-color: rgb(29, 28, 28);
}

.schedule-title {
    margin: 40px auto;
    padding-top:1em;
    text-align: center;
    background: -webkit-linear-gradient(orange,orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:3.2em;
}

.schedule-filter--btn {
    position: absolute;
    right: 16%;
    margin-top: 1em;
    font-size:1.25em;
    cursor: pointer;
}

.schedule-filter--btn:hover {
    color: rgb(179, 31, 31);
}

.schedule-tabs--container {
    width: 100%;
    font-size:1.25em !important;
    letter-spacing: 1em !important;
    
}

.schedule-noevent--container {
    padding:10px 10px;
    text-align: center;
    color:black;
    
}

@media (max-width: 700px){
    .schedule-title {
        padding-top:.9em;
        margin-bottom:.5em;
        text-align: center;
        font-size:2.5em;
    }
    .schedule-container {
        margin: 20px auto;
        width: 80%;
        margin-top:7em;
        padding-bottom:3px;
    }
    .schedule-filter--btn {
        right: 13%;
        margin-top:.7em;
        font-size:1em;
    }

}

@media (max-width: 500px){
   .schedule-container {
        margin: 10px auto;
        width: 90%;
        margin-top:8em;
    }
    .schedule-filter--btn {
        right: 7%;
        margin-top:.7em;
    }
}