html,body{
    width: 100%;
    background-color: #1b1d1e;
}

body {
    transition: 2s ease;
}

#event-grid {
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-gap: 2rem;
}

#event-grid :hover{
    opacity: 0.8;
}

.header {
    text-align: center;
    padding: 4rem;
}

.title {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    #event-grid {
        grid-template-columns: auto;
        padding: 0rem;
        grid-gap: 3rem;
    }

    .title {
        font-size: 2.5rem;
    }
}