html,body{
    width: 100%;
    background-color: #353535
}

#event-grid {
    padding: 2rem;
	margin: auto auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1.5rem;
}

.header {
    margin-bottom: 3rem;
}

.title {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}